*,
*:before,
*:after {
  box-sizing: border-box;
}

/*----Media Queries

@media (max-width:700px) {
	.mixes {
		grid-template-areas: 
		"mix--left mix--center"
		"mix--right mix--left"
		"mix--center mix--right"
	}
}

@media (max-width:500px) {
	.mixes {
		grid-template-areas: 
		"mix--left" 
		"mix--center"
		"mix--right"
	}
}
-----*/

:root {
	--font-sans-serif: helvetica, sans-serif;
	--font-serif: adobe-caslon-pro, serif;
	--gray-dark: #19111c;
	--grapefruit: #f5683a;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
	max-width: 1920px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 10px;

}

.wrapper {
	display: grid;
}



body {
	font-family: var(--font-serif); 
	color: var(--gray-dark);
	line-height: 23px;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: -.01em;
	background-color: white;
}

img {
	max-width: 100%;
}

p {
	max-width: 500px;
}



h1 {
	font-family: campaign;
	font-weight: 600;
	color: black;
	font-size: 34px;
	letter-spacing: -.05em;
	text-align: left;
}


#h2 {
	font-family: pragmatica-condensed, sans-serif;
	font-weight: 700;
	color: black;
	font-size: 60px;
	letter-spacing: -.01em;
	text-transform: uppercase;
	max-width: 600px;
	margin: 0;
	padding-top: 15px;
}

#article__synopsis {
	font-family: adobe-caslon-pro, serif; 
	font-size: 24px;
	line-height: 27px;
	color: #19111c;
	font-weight: 600;
	letter-spacing: -.01em;
	font-style: normal;
}

#h5 {
	font-family: helvetica, sans-serif; 
	font-size: 24px;
	line-height: 27px;
	color: #19111c;
	font-weight: 400;
	letter-spacing: -.01em;
}

#ul-title {
	text-transform: uppercase;
	font-family: "Helvetica Neue", Helvetica, sans;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	list-style: none;
}

#list-item {
	font-size: 18px;
	line-height: 23px;
	font-family: "Helvetica Neue", Helvetica, sans;
	font-weight: 400;
}


.wax-container {
	max-width: 1920px;
	background-color: #ecebe7;
	padding: 0;
}

/*-----Mix Grid Starts Here-----*/

.mixes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mix {
  display: grid;
  grid-template-columns: 1fr;
  padding-right: 20px;
}

.mix--left { 
  border-right: 1px solid;

}

.mix--center { 
  border-right: 1px solid;
}

.mix--right {
}

.mix__genre {
	font-family: "Helvetica Neue", Helvetica, sans;
	font-weight: 400;
	font-size: 15px;
	line-height: 15px;
	text-transform: uppercase;
}

.mix__artwork {
	object-fit: cover;
	width: 100%;
	height: 100%;
	background-position: center;
	border: 1px solid pink;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: center;
}

.mix__tag {
	margin: 0;
}

.mix__content {

}

h5 {
	font-family: "Helvetica Neue", Helvetica, sans;
	font-weight: 400;
	font-size: 24px;
	line-height: 27px;
	text-align: center;
	text-decoration: none;
	letter-spacing: -.01em;
}

.mix__name {
	text-align: center;
	text-decoration: none;
	color: #19111c;
}

.compiled-by {
	font-family: adobe-caslon-pro, times, serif; 
	font-weight: 400;
	font-size: 24px;
	line-height: 27px;
	text-align: center;
	color: #19111c;
	letter-spacing: -.01em;
	padding-bottom: 20px;
}



.button--outline {
	display: block;
	border: 1px solid #19111c;
	border-radius: 2.5rem;
	padding: 0.8rem 1rem;
	text-decoration: none;
	color: #19111c;
	margin: 0.5rem;
	background: transparent;
	color: var(--black);
	margin-left: auto;
	margin-right: auto;
	font-family: "Helvetica Neue", Helvetica, sans;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	letter-spacing: -.01em;
	text-transform: uppercase;
}


.eyebrow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  justify-content: space-around;
}

.total { 
  display: grid;
  grid-template-columns: 1fr;
  padding-right: 20px;
  font-family: "Helvetica Neue", Helvetica, sans; 
  color: #19111c;
  line-height: 15px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
}


.genre { 
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
  border: 1px solid pink;
  max-width: 150px;
}

.sort-by { 
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Helvetica Neue", Helvetica, sans; 
  color: #19111c;
  line-height: 15px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  text-align: right;

}

.main-header {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: flex-start;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	align-items: center;
	border-top: 1px solid;
	border-bottom: 1px solid;

}

.eyebrow-menu a {
	list-style: none;
	display: grid;
	text-transform: uppercase;
	justify-content: flex-start;
	width: auto;
	line-height: .9;
	font-family: "Helvetica Neue", Helvetica, sans; 
	font-weight: 400;
	font-size: 15px;
	line-height: 23px;
	color: #19111c;
	text-decoration: none;
}

.eyebrow-menu {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	max-width: 220px;
	border-right: 1px solid;
	height: 50px;	
}

.site-name {
	display: grid;
	align-items: center;
	text-align: center;
	margin: auto;
	font-weight: 600;
	font-size: 34px;
	line-height: 23px;
}

.secondary-eyebrow ul {
	list-style: none;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	display: flex;
	text-transform: uppercase;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, sans; 
}

.secondary-eyebrow a {
	color: #19111c;
	text-decoration: none;
	padding: 0 15px;
	font-size: 15px;
	font-weight: 400;
}

.code-image {
	text-transform: uppercase;
	font-family: "Helvetica Neue", Helvetica, sans;
	font-weight: 700;
	font-size: 11px;
	line-height: 13px;
	list-style: none;
}

/*-----components page css only-----*/

.fancy-box {
	padding: 10px;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	background-color: #ecebe7;
	min-height: 185px;
}

.components-section__name { 
	font-size: 24px;
	font-family: helvetica;
	padding-bottom: .5rem;
	text-transform: uppercase;	
	text-align: left;
	padding-top: 10px;
	border-top: 2px solid;
}

.component__name {
	font-size: 24px;
	font-family: helvetica;
	text-transform: uppercase;
}

.component img {
	max-width: initial;
}

.component__img {
	overflow-x: auto;
}

.component__code {
	margin-bottom: 10px;
}
.site-name {
	font-family: campaign;
	font-weight: 600;
	color: black;
	font-size: 34px;
	letter-spacing: -.05em;
	text-align: left;
}

.component__name--sub-name {
	font-size: 18px;
	font-family: helvetica;
	padding-bottom: .5rem;
	margin-bottom: 10px;
	text-transform: uppercase;
}



.button--outline {
	display: flex;
	border: 1px solid #19111c;
	border-radius: 2.5rem;
	padding: 0.8rem 1.5rem;
	text-decoration: none;
	color: #19111c;
	margin: 0.5rem;
	background: transparent;
	color: var(--black);
	font-family: "Helvetica Neue", Helvetica, sans;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: -.01em;
	text-transform: uppercase;
	text-align: center;
	max-width: 130px;
	justify-content: space-around;
}
/*-----icons section-----*/
.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icons {
	color: black;
	padding-right: 5px;
}

.icons--bars {
	padding-right: 20px;
}

#arrow-up--45 {
	display: inline-block;
	transform: rotate(45deg);
	padding-bottom: 0;
	max-width: 0px;
}

.bars--90 {
	display: inline-block;
	transform: rotate(90deg);
}

.fa-chevron-down {
	padding-left: 10px;
	padding-right: 0;
}

/*-----Page Title Section-----*/

.strong-eyebrow {
	color: var(--grapefruit);
	font-family: var(--font-sans-serif);
	text-transform: uppercase;
	font-size: 15px;
	line-height: 15px;
	opacity: .75;
	margin: 0;
	letter-spacing: -.01em;
	max-width: 100%;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 40px;
}


.page-titles__names {
	list-style: none;
	padding: 0;
}

.page-titles__name {
	text-align: center;
}

.listen-image {
	display: block;
  	margin-left: auto;
 	 margin-right: auto;
 	 width: 50%;
 	 max-width: 610px;
 	 padding-bottom: 360px;
}


/* -----footer----- */

.main-footer--top {
	display: flex;
	justify-content: space-between;
}

input[type=email] {
	width: 100%;
	padding: 20px 20px;
	margin: 0 auto;
	border: none;
	border-bottom: 1px solid #0e0e0e;
	background-color: #ecebe7; 
}

/* ----footer-lists----*/

.h5--uppercase {
	text-transform: uppercase;
	font-size: 20px;
	line-height: 27px;
	color: #19111c;
	margin-bottom: 40px;
	text-align: left;
}


.email-form .mailchimp-form__email {
	padding-bottom: 10px;
	font-size: 18px;
	padding-left: 0;
}


.arrow-button {
	border: none;
	background: none;
}

.email-form {
	display: flex;
}

.small-uppercase {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-family: "Helvetica Neue", Helvetica, sans;
	font-weight: 400;
	font-size: 11px;
	line-height: 23px;
	list-style: none;
	padding-bottom: 20px;
}

.footer__ul {
	display: block;
	list-style: none;
	line-height: 40px;
	padding: 0;
}

.footer__li {
	font-size: 18px;
	line-height: 23px;
	font-family: "Helvetica Neue", Helvetica, sans;
	font-weight: 400;
	text-decoration: none;
	color: #19111c;
}

.main-footer--top {
	display: flex;
	justify-content: space-between;
	padding-bottom: 50px;
}

.main-footer--top :first-child {
	 flex: 2 1 0
}	
.main-footer__nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	line-height: 23px;
}

.main-footer__nav  > * {
     width: 325px;
      }

.main-footer__nav :last-child {
	max-width: 175px;
}

.main-footer--bottom {
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;
	align-items: flex-end;
}

.bottom__nav {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-family: "Helvetica Neue", Helvetica, sans;
	font-weight: 400;
	font-size: 11px;
	line-height: 23px;
	list-style: none;
	justify-content: flex-end;
	border: 1px solid pink;
}

.footer--bottom_list-item {
	padding-right: 10px;
	text-decoration: none;
	justify-content: flex-end;
}

.footer--bottom_list-item a {
	padding-right: 0px;
	text-decoration: none;
	color: #19111c;
	font-weight: 400;
}



