<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Wax Poetics | Components</title>
		<link href="css/normalize.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://use.typekit.net/edy4dnc.css">
		<link type="text/css" rel="stylesheet" href="../css/main.css">
	</head>
	
	<div class="container">
	<header class="main-header">
		<nav class="eyebrow-menu">
			<a href="#!">Components Library</a>
		</nav>

		<h1 class="site-name">WaxPoetics</h1>

		<nav class="secondary-eyebrow">
			<ul class="nav-list">
			<li><a href="#!">Typography</a></li>
			<li><a href="#!">Atoms</a></li>
			<li><a href="#!">Sections</a></li>
			</ul>
		</nav>
	</header>
</div>

	<body>
		<div class="container">
		<h2> Typography</h2>
		
		<article class="component">
			<h3 class="component__name">Body</h3>
			<div class="fancy-box">
			<h4 class="code-image">Image</h4>
			<div class="component__img">
				<img 
				srcset="images/body.png 2x"
				src="images/body.png"
				alt="body copy"
				/>
			</div>
			<div class="component__code"> 
			<h4 class="code-image">Code</h4>
				<p>It was 1960’s Giant Steps that thoroughly and inexorably changed the saxophonist’s game going forward.</p> 
			</div>
		</div>
		</article>

		<article class="component">
			<h3 class="component__name">Headings</h3>
			<h4 class="component__name--sub-name">Heading (h1)</h4>
			<div class="fancy-box">
			<h4 class="code-image">Image</h4>
			<div class="component__img">
				<img 
				srcset="images/h1.png 2x"
				src="images/h1.png"
				alt="Wax Poetics"
				/>
			</div>
			<div class="component__code"> 
			<h4 class="code-image">Code</h4>
				<p class="h1">WaxPoetics</p> 
			</div>
		</div>

			<h4 class="component__name--sub-name">Heading (h2)</h4>
			<div class="fancy-box">
			<h4 class="code-image">Image</h4>
			<div class="component__img">
				<img 
				srcset="images/h2.png 2x"
				src="images/h2.png"
				alt="h2"
				/>
			</div>
			<div class="component__code"> 
			<h4 class="code-image">Code</h4>
				<p id="h2">MIGHTY GOOD</p> 
			</div>
		</div>

			<h4 class="component__name--sub-name">Heading (h4)</h4>
			<div class="fancy-box">
			<h4 class="code-image">Image</h4>
			<div class="component__img">
				<img 
				srcset="images/h4.png 2x"
				src="images/h4.png"
				alt="h4"
				/>
			</div>
			<div class="component__code"> 
			<h4 class="code-image">Code</h4>
				<p id="article__synopsis">John Coltrane’s evolutionary jump on the 1960 masterpiece <em>Giant Steps</em></p> 
			</div>
		</div>

			<h4 class="component__name--sub-name">Heading (h5)</h4>
			<div class="fancy-box">
			<h4 class="code-image">Image</h4>
			<div class="component__img">
				<img 
				srcset="images/h5.png 2x"
				src="images/h5.png"
				alt="h5"
				/>
			</div>
			<div class="component__code"> 
			<h4 class="code-image">Code</h4>
				<p id="h5">Steppin' Heavy Mix Series #1: Boogie Bangers</p> 
			</div>
		</div>
		</article>

		<article class="component">
			<h3 class="component__name">Links</h3>
			<h4 class="component__name--sub-name">ul title</h4>
			<div class="fancy-box">
			<h4 class="code-image">Image</h4>
			<div class="component__img">
				<img 
				srcset="images/footer__ul--title.png 2x"
				src="images/footer__ul--title.png"
				alt="Channels"
				/>
			</div>
			<div class="component__code"> 
			<h4 class="code-image">Code</h4>
				<p id="ul-title">Chanels</p> 
			</div>
		</div>
			<h4 class="component__name--sub-name">li</h4>
			<div class="fancy-box">
			<h4 class="code-image">Image</h4>
			<div class="component__img">
				<img 
				srcset="images/footer__li.png 2x"
				src="images/footer__li.png"
				alt="Features"
				/>
			</div>
			<div class="component__code"> 
			<h4 class="code-image">Code</h4>
				<p id="list-item">Features</p> 
			</div>
		</div>
		</article>

		<h2>Sections</h2>

		<article class="component">
			<h3 class="component__name">Main Header</h3>
			<div class="fancy-box">
			<h4 class="code-image">Image</h4>
			<div class="component__img">
				<img 
				srcset="images/main-header.png 2x"
				src="images/main-header.png"
				alt="Main Header"
				/>
			</div>

				<div class="component__code"> 
				<h4 class="code-image">Code</h4>
					 <div class="wax-container"> 
						 <header class="main-header">
							<nav class="eyebrow-menu">
								<a href="#!">Explore Channels</a>
							</nav>

							<h1 class="site-name">WaxPoetics</h1>

							<nav class="secondary-eyebrow">
								<ul class="nav-list">
									<li><a href="#!">In Print</a></li>
									<li><a href="#!">Subscribe</a></li>
									<li><a href="#!">About</a></li>
									<li><a href="#!">Account</a></li>
									<li><a href="#!">Search</a></li>
								</ul>
							</nav>
				        </div>
				    </header>
			</div>
		</div>
			
		</article>

		<article class="component">
			<h3 class="component__name">Page Title</h3>
			<div class="fancy-box">
			<h4 class="code-image">Image</h4>
			<div class="component__img">
				<img 
				srcset="images/page-title.png 2x"
				src="images/page-title.png"
				alt="Page Title"
				/>
			</div>
			<div class="component__code"> 
			<h4 class="code-image">Code</h4>
				<div class="page-titles">
					<p class="strong-eyebrow">Drag left & right to navigate channels</p>
					<ul class="page-titles__names">
						<li class="page-titles__name">Listen</li>
					</ul>
					<p>All of our mixes, playlists, and podcasts in one place.</p>
			</div>
		</div>
		</article>

		<article class="component">
			<h3 class="component__name">Filters Eyebrow</h3>
			<div class="fancy-box">
			<h4 class="code-image">Image</h4>
			<div class="component__img">
				<img 
				srcset="images/filters-eyebrow.png 2x"
				src="images/filters-eyebrow.png"
				alt="Filters Eyebrow"
				/>
			</div>
			<div class="component__code"> 
			<h4 class="code-image">Code</h4>
					<div class="wax-container">
					<hr>
					<section class="eyebrow">

					<article class="total">
							<p>37 Mixes</p>
					</article>
					<article class="genre">
							<button class="button--outline">Genre</button>
						</article>
					<article class="sort-by">
							<p>Sort By Recomended</p>
					</article>
					</div>

			</div>
		</article>

		<article class="component">
			<h3 class="component__name">Mix Grid</h3>
			<div class="fancy-box">
			<h4 class="code-image">Image</h4>
			<div class="component__img">
				<img 
				srcset="images/mix-grid.png 2x"
				src="images/mix-grid.png"
				alt="Wax Poetics Mix Grid"
				/>
			</div>
			<div class="component__code"> 
			<h4 class="code-image">Code</h4>
				<div class="wax-container">
					<hr>
					<section class="mix-article">

						<article class="mix-left">
							<div class="mix-article__tag">
								<p class="mix-article__genre">Funk</p>
							</div>
						
							<figure class="mix-article__image">
								<img
								srcset="images/p-funk.png"
								src="images/p-funk.png"
								alt="P-Funk Mixtape">
							</figure>

							<div class="mix-article__content">
								<h5><a class="mix-article__name" href="#!">P Funk mixtape D'Void of Funk by Sir Froderick</a></h5>
								<h4 class="compiled-by">Sir Froderick</h4>
								<button class="button--outline">Read Article</button>
							</div>	
						</article>

						<article class="mix-center">
							<div class="mix-article__tag">
								<p class="mix-article__genre">Jazz</p>
							</div>
						
							<figure class="mix-article__image">
								<img
								srcset="images/jazz-45.png"
								src="images/jazz-45.png"
								alt="Jazz on 45 Record Cover">
							</figure>

							<div class="mix-article__content">
								<h5><a class="mix-article__name" href="#!">Jazz on 45 Vol.5 Mixtape</a></h5>
								<h4 class="compiled-by">Todd Simon</h4>
								<button class="button--outline">Read Article</button>
							</div>	
						</article>

						<article class="mix-right">
							<div class="mix-article__tag">
								<p class="mix-article__genre">Hip-Hop</p>
							</div>
						
							<figure class="mix-article__image">
								<img
								srcset="images/low-end-theory.png"
								src="images/low-end-theory.png"
								alt="A Tribe Called Quest Low End Theory 25th Anniversary Mixtape record cover.">
							</figure>

							<div class="mix-article__content">
								<h5><a class="mix-article__name" href="#!">A Tribe Called Quest Low End Theory 25th Anniversary Mixtape</a></h5>
								<h4 class="compiled-by">Chris Read</h4>
								<button class="button--outline">Read Article</button>
							</div>	
							</div>
						</article>
					</section>
					<hr>
				

				<article class="component">
					<h3 class="component__name">Main-Footer</h3>
					<div class="fancy-box">
					<h4 class="code-image">Image</h4>
					<div class="component__img">
						<img 
						srcset="images/footer.png 2x"
						src="images/footer.png"
						alt="Main Footer"
						/>
					</div>
					<div class="component__code"> 
					<h4 class="code-image">Code</h4>
						<footer class="main-footer">
								<hr>
								<div class="main-footer--top">
									
									<div class="mailchimp-form">
										<h5 class="h5--uppercase">Join Our Mailing List</h5>
										<form method="post">
						 					<input class="mailchimp-form__email"type="email" name="email" placeholder="Email"><br>
						 					<input type="submit" value=">">
										</form>
									</div>

									<nav class="main-footer__nav">
										<ul class="footer__ul">
											<li class="small-uppercase">Channels</li>
											<li><a class="footer__li" href="!#">Features</a></li>
											<li><a class="footer__li" href="!#">Connections</a></li>
											<li><a class="footer__li" href="!#">Re:Discovery</a></li>
											<li><a class="footer__li" href="!#">Listen</a></li>
										</ul>

										<ul class="footer__ul">
											<li class="small-uppercase">Top Connections</li>
											<li><a class="footer__li" href="!#">Ultimate Breaks & Beats</a></li>
											<li><a class="footer__li" href="!#">New York DJs</a></li>
											<li><a class="footer__li" href="!#">Philly Soul</a></li>
											<li><a class="footer__li" href="!#">Beat Makers</a></li>
										</ul>

										<ul class="footer__ul">
											<li class="small-uppercase">More</li>
											<li><a class="footer__li" href="!#">Shop</a></li>
											<li><a class="footer__li" href="!#">About</a></li>
											<li><a class="footer__li" href="!#">Subscribe</a></li>
											<li><a class="footer__li" href="!#">FAQ</a></li>
										</ul>

										<ul class="footer__ul">
											<li class="small-uppercase">Social</li>
											<li><a class="footer__li" href="!#">Facebook</a></li>
											<li><a class="footer__li" href="!#">Instagram</a></li>
											<li><a class="footer__li" href="!#">Youtube</a></li>
											<li><a class="footer__li" href="!#">Twitter</a></li>
										</ul>
									</nav>
								</div>
								<nav class="main-footer--bottom">
									<ul class="small-uppercase">
										<li>2021, Wax Poetics</li>
										<li><a href="!#">Terms and Conditions</a></li>
										<li><a href="!#">Privacy Policy</a></li>
										<li><a href="!#">Cookies</a></li>
										<li><a href="!#">Site by Wonderland</a></li>
									</ul>
								</nav>
							</div>
						</footer>
					</div>
				</article>
			</div>
		</div>
	</div>
	</body>
	

</html>